<template>
  <div class="increment-decrement">
    <button class="count-btn count-down" type="button" @click="handleDecrement">-</button>
    <input type="number" name="counter" class="counter" :value="counter" @change="handleChange" />
    <button class="count-btn count-up" type="button" @click="handleIncrement">+</button>
  </div>
</template>

<script>
import {ref} from "vue";

export default {
  name: "IncrementDecrement",
  props: ["min", "max", "step"],
  setup(props) {
    const counter = ref(props.min);

    const handleChange = (e) => {
      let value = (e.target.value ? parseInt(e.target.value) : 0);

      value = validateValue(value);

      counter.value = value;
    };

    const handleIncrement = () => {
      counter.value = validateValue(counter.value + props.step);
    };

    const handleDecrement = () => {
      counter.value = validateValue(counter.value - props.step);
    };

    const validateValue = (value) => {

      if(value < props.min) {
        value = props.min;
      }

      if(value > props.max) {
        value = props.max;
      }

      return value;
    }

    return {
      counter,
      handleChange,
      handleIncrement,
      handleDecrement
    }
  }
}
</script>

<style scoped>
.increment-decrement {
  text-align: center;
  margin-top: 100px;
}

.count-btn {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  outline: 0;
  border: 1px transparent;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.count-down {
  background-color: #e73737;
}

.count-up {
  background-color: #2bd92e;
}

.counter {
  font-size: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 3px 13px;
}
</style>