<template>
  <IncrementDecrement :min="5" :max="60" :step="3" />
</template>

<script>
import IncrementDecrement from "@/components/IncrementDecrement";

export default {
  name: 'App',
  components: {
    IncrementDecrement
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
